# Interdire l'exécution de PHP dans le dossier uploads
<IfModule mod_php.c>
    php_flag engine off
</IfModule>
<FilesMatch "\.php$">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
</FilesMatch>
